name: Issue tracker workflow
on:
    issues:
        types: [opened, edited, closed]
    workflow_dispatch:
jobs:
    issue-tracker:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Tracking Issues
              id: tracking
              run: |
                echo "Issue #${{ github.event.issue.number }} 
                has been ${{ github.event.action }} 
                by ${{ github.event.issue.user.login }} with the title: '${{ github.event.issue.title }}'"